@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
}
html {
    width: 100vw;
    height: 100vh;
}
body {
    background: url(imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}
main {
    height: 100vh;
    position: relative;
    
}
section#divcell {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    padding-top: 60px;
    background: url(imagens/frame-iphone.png) no-repeat;
    position: absolute;
}
#tela  {
    position: relative;
    top: 20px;
    left: 22px;
    width: 263px;
    height: 470px;
}
#redes-sociais {
    text-align: right;
}
#redes-sociais img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.466);
    box-sizing: border-box;
    
}
#redes-sociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.397);
    transition: transform .3s, border .3s;
}